{% extends 'main.html' %}

{% load static %}

{% block content %}

        <div class="container">        
                <h1 class="calorie-calc-title"> Calorie Calculator</h1>
                
                <form method="post">
                    {%csrf_token%}
                    <div class="calorie-search-container">
                        <input type="text" name="query" class="form-control inputstyle"
                            placeholder="Enter: Serving Size (Optional) and Food" required>
                        <button class="calc-submit" type="submit" id="button-addon2">Find calories</button>
                    </div>
                </form>
                
                
                {%if api%}
                {%if api == "Error"%}
                <div class="alert alert-warning"> Oh no! something went wrong. Please try again. </div>
                {%else%}
                <h1> {{api.name}} has a total of <strong> {{api.calories}} Calories</strong>
                </h1>

                <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
                    <div>
                        This food contains an high amount of sodium. High sodium can lead to dehydration, water
                        retention, or possibly longer term issues relating to cardiovascular health.
                    </div>
                </div>
        
            
            <div class="row justify-content-center mt-5 mb-5">
                <div class="col-md-10 caloriescont shadow rounded">
                    <div class="row">

                        <div class="col-md-6">
                            <h2 class="mt-3 mb-4">Nutritional Values </h2><span></span>
                            <ul>
                                <li class="servingsize">Serving Size: {{api.serving}} <span class="float-end"></span></li>
                                <li>Carbohydrates (g): <span class="float-end">{{api.carbohydrates_total_g}}</span>
                                </li>
                                <li>Cholesterol (mg): <span class="float-end">{{api.cholesterol_mg}}</span></li>
                                <li>Total fat (g): <span class="float-end">{{api.fat_total_g}}</span></li>
                                <li>Saturated Fat (g): <span class="float-end">{{api.fat_saturated_g}}</span></li>
                                <li>Fiber (g): <span class="float-end">{{api.fiber_g}}</span></li>
                                <li>Potassium (mg) <span class="float-end">{{api.potassium_mg}}</span></li>
                                <li>Protein (g): <span class="float-end">{{api.protein_g}}<span></li>
                                <li>Sodium (mg):<span class="float-end">{{api.sodium_mg}}</span></li>
                                <li>Sugar (g): <span class="float-end">{{api.sugar_g}}</span></li>
                            </ul>
                        </div>
                        <!-- IMPLEMENTING FEATURE THAT WILL TAKE IN THE INDIVIDUALS PERSONAL WEIGHT/MEASUREMNTS
                                so the estimates of exercises to burn x amount of calories is more accurate
                        <div class="col-md-6 mb-5">
                            <h4 class="mt-3 mb-4">To burn 100 calories you will have to</h4>
                            <div class="d-flex align-items-center mb-5">
                                <div class="flex-shrink-0">
                                    <img src="{% static 'images/running.png'%}" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5> Jog </h5>
                                    <p>you will have to jog for <strong>
                                            20</strong> Minutes</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-5">
                                <div class="flex-shrink-0">
                                    <img src="{%static 'images/yoga.png'%}" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <h5> Do Power Yoga </h5>
                                    <p>you will have to Power Yoga for <strong>
                                            20 </strong> Minutes</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-5">
                                <div class="flex-shrink-0">
                                    <img src="{%static 'images/weightlifter.png'%}" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <h5>Get a Gym Workout </h5>
                                    <p>you will have to lift weight for <strong>
                                            20 </strong> Minutes </p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="{%static 'images/walking.png'%}" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-1">
                                    <h5> Go for a Brisk Walk </h5>
                                    <p>you will have to brisk walk for <strong>
                                            20 </strong> Minutes</p>
                                </div>
                            </div>
                        </div>
                    -->
                    </div>
                </div>
                {%endif%}
                {%endif%}
            </div>
        </div>


{% endblock %}