*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4B72D3;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background:#fff;
}


a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style:none;
}

img {
  max-width: 100%;
}

.navbar {
  padding: 20px;
  background-color: white;
}

.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display:flex;
}

.navbar ul li a{
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.4s;
}


.navbar ul li a:hover {
  color: var(--primary-color);
}


/* Additional styles for the image */
.img-responsive.logo {
  max-width: 100%; /* Ensure the image stays responsive */
  
}

form {
  position: relative;
  margin-top: -20px; /* Adjust the top margin of the form */
}

h1 {
  font-weight: 300;
}

h1 strong {
  font-weight: 600;
  color: #4b8673;
}

.inputstyle {
  padding: 20px !important;
}

.whoop {
  background-color: #5f3ca5;
  width: 8em;
  font-size: 30px !important;
  color: #ffffff;
}

.caloriescont {
  background-color: #ffffff;
  padding: 30px;
}

.caloriescont ul {
  padding: 0px;
}

.caloriescont ul li {
  list-style: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #efefef;
  width: 80%;
}

.caloriescont h3 {
  color: #4b8673;
  font-size: 2em;
  text-transform: capitalize;
  font-weight: 700;
}

.caloriescont h5 {
  color: #4b8673;
}

.servingsize {
  background-color: #000000;
  padding: 10px;
  color: #ffffff;
}


/* Util Classes*/
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}