*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4B72D3;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background:#fff;
}


a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style:none;
}

img {
  max-width: 100%;
}

/*NAVBAR*/
.navbar {
  padding: 20px;
  background-color: white;
}

.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display:flex;
}

.navbar ul li a{
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.4s;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

/*LOGOS*/

.logo {
  position: relative; 
  margin-bottom: -20px; 
}

.mfflogo{
  width:225px;
  position: relative;
  top: -25px;
  height:auto;
}

/* Additional styles for the image */
.img-responsive.logo {
  max-width: 100%; /* Ensure the image stays responsive */
   

}

form {
  position: relative;
  margin-top: -20px; /* Adjust the top margin of the form */
}

h1 {
  font-weight: 300;
}

h1 strong {
  font-weight: 600;
  color: #4b8673;
}

.inputstyle {
  padding: 20px !important;
}

.whoop {
  background-color: #5f3ca5;
  width: 8em;
  font-size: 30px !important;
  color: #ffffff;
}

.caloriescont {
  background-color: #ffffff;
  padding: 30px;
}

.caloriescont ul {
  padding: 0px;
}

.caloriescont ul li {
  list-style: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #efefef;
  width: 80%;
}

.caloriescont h3 {
  color: #4b8673;
  font-size: 2em;
  text-transform: capitalize;
  font-weight: 700;
}

.caloriescont h5 {
  color: #4b8673;
}

.servingsize {
  background-color: #000000;
  padding: 10px;
  color: #ffffff;
}



/*INTROPAGE */


/*TDEE content*/
.tdee-calc-form .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tdee-content {
  text-align: center;
  margin-bottom: 100px;
}

.tdee-text{
  width:85%;
}

/* Hide the up and down arrows for number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.calc-content label{
  display:flex;
}

.calc-content .calc-field{
  margin:25px 0px;
}

.calc-submit{
  margin: 20px 0px 100px 0px;
}


/* CSS */
.calc-submit {
  align-items: center;
  appearance: none;
  background-color: #fcfdfc;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.6) 0 4px 8px, rgba(45, 35, 66, 0.5) 0 10px 20px -5px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.calc-submit:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.calc-submit:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.calc-submit:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/*text classes*/

.text-l{
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-m{
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-s{
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 600;
  margin: 20px 0 20px;
}

/* Util Classes*/
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}